:root {
  /* Primary actions */
  --color-primary: #2f9e9e;

  /* Background */
  --color-background: #aeaeae;
  --color-card-background: #efeeee;
  --color-background-hover: #c9fdff;
  --color-background-button: #e2e1e1;

  --color-grid-background: #6dccd1;
  
  /* Text */
  --color-text: #07253f;
  --color-text-hover: #247f82;
  
  --color-menu-exit: #c91439;
}

.dark {
  /* Primary actions */
  --color-primary: #4fb2b2;

  /* Background */
  --color-background: #041d31;   
  --color-card-background: #253037;  
  --color-background-hover: #c9fdff;
  --color-background-button: #324c5c;
  --color-grid-background: #6dccd1;
  
  /* Text */
  --color-text: #edf2f7;
  --color-text-hover: #041d31;
 
  --color-menu-exit: #c91439;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-text);
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}
