.NavBar{
  width:280px;
  height:100dvh;
  display:flex;
  flex-direction:column;
  padding:1.5rem;
  box-sizing:border-box;
  transition:.3s;
  backdrop-filter: blur(5px);
  border-right: 1px solid rgba(255,255,255,.08);
}

.NavBar > .menus{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 1rem; 
  flex: 1;  
}

.NavBar > .CabecalhoNavBar{
  display: flex;  
  align-items: center;
  justify-content: center;  
}

.NavBar > .CabecalhoNavBar > .Cabecalho{
  display: flex;  
  width: 80%; 
  border-radius: 5rem;
  gap: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar  > .CabecalhoNavBar > .Cabecalho > .central{
  width: 100%;
  display: flex;
  justify-content: center;
  color:var(--color-background);
}

.logo{    
  width:52px;
height:52px;
  border-radius: 10px;
}

.NavBar > hr{
  border: none;
  height: 1px;
  width: 90%;
  background: rgba(255,255,255,.08);
}

.NavBar > .menus > .menu{
  padding-inline:1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255,255,255,.03);
  border: 1px solid rgba(255,255,255,.05);
  width:100%;
  border-radius: 1rem;
  cursor: pointer;      
  transition: 0.3s ease;
  min-height:56px;
  gap:1rem;
}

.NavBar > .menus > .menu > .icone{
  font-size: 1.4rem;
  color: var(--color-text);
}

.NavBar > .menus > .menu > h1{
  font-size: 20px;
  padding-left: 1rem;
}

.NavBar > .menus > .menu:hover > h1{
  color: var(--color-text-hover);
  transform:translateX(4px);
}

.NavBar > .menus > .menu:hover > .icone{
  color: var(--color-text-hover);
  transform:translateX(4px);
}

.NavBar > .menus > .menu-sair {
  margin-top: auto;      
  margin-bottom: 1rem;
}

.NavBar > .menus > .menu:hover {
  background: rgba(255,255,255,.08);
  border-color: rgba(255,255,255,.15);
}

.NavBar > .menus > .menu-sair:hover {
  background-color: var(--color-menu-exit);
  color: var(--color-background);
}

.NavBar > .menus > .menu-LightDark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--color-text);
  width: 70%;
  margin-top: auto;   
}

.menu.active{
  background:var(--color-primary);
  color:white;
}

.menu-mobile{
  display:none;
  position:fixed;
  top:15px;
  left:15px;
  z-index:1200;
  border:none;
  background:var(--color-primary);
  color:white;
  width:45px;
  height:45px;
  border-radius:10px;
  cursor:pointer;
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.35);
  backdrop-filter:blur(2px);
  z-index:999;
}

@media(max-width:768px){

  .menu-mobile{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .NavBar{
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:280px;
    transform:translateX(-100%);
    box-shadow:0 0 20px rgba(0,0,0,.2);
  }

  .NavBar.aberta{
    transform:translateX(0);
  }

  .menu-mobile.fechado{
    display:none;
  }
}