.Card-DashBoard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-Central-DashBoard {
  display: flex;
  width: 70vw;
  height: 80vh;
  gap: 1rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 1rem;
}

.Card-Filtros-DashBoard {
  
}

.Card-Visual-DashBoard {
  flex: 1;
  min-height: 300px;
  display: flex;
}
