.Card-DashBoard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-Central-DashBoard {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 90vh;
  background-color: var(--color-background);
  border: 10px solid var(--color-primary);
  border-radius: 10px;
  padding: 1rem;
  gap: 16px;
}

.Card-Filtros-DashBoard {
  display: flex;
  min-width: 200px;
  width: 100%;
  flex-shrink: 0;
}

.Filtros-DashBoard {
  display: flex;
  flex-direction: column;  
  gap: 6px;
  width: 100%;
  align-items: flex-end;
}

.Campo-Filtro{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  background-color: white;
  border: 1px solid #ccc;  
  padding: 1rem;
  border-radius: 8px;
}

.linha-filtros {
  display: flex;
  width: 100%;
  gap: 16px;
}

.campo-filtro {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo-filtro input,
.campo-filtro select {
  width: 100%;
}

.campo-filtro label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: var(--color-primary);
}

.Card-Filtros-DashBoard > .Titulo { 
  align-items: center;
  margin-left: 2rem;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.Card-Visual-DashBoard {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.Card-Visual-DashBoard > .Card-Resumo{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: 100px;  
  flex-shrink: 0;
}

.Card-Visual-DashBoard > .Card-Resumo > .Resumo-Item {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;  
  border-radius: 8px;
  width: 100%;
  align-items: center;
}
.Card-Visual-DashBoard > .Card-Resumo > .Resumo-Item > .Resumo-Icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.Card-Visual-DashBoard > .Card-Resumo > .Resumo-Item > .Resumo-Icone > .Icone{
  font-size: 5rem;
}

.Card-Visual-DashBoard > .Card-Resumo > .Resumo-Item > .Informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;  
  font-size: 1.5rem;
}

.Card-Visual-DashBoard > .Card-Resumo >  .Positivo {
  color: var(--color-confirmation);
}

.Card-Visual-DashBoard > .Card-Resumo >  .Negativo {
  color: var(--color-exit);
}

.Card-Visual-DashBoard > .Card-Graficos-DashBoard {
  display: flex;
  background-color: var(--color-background);
  width: 100%;
  flex: 1;
  border: 1px solid #ccc;  
  border-radius: 8px;
  margin-top: 16px;
}

.Card-Visual-DashBoard > .Card-Graficos-DashBoard > .EvolucaoFinanceira {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: white;
  border: 1px solid #ccc;  
  border-radius: 8px;
  width: 60%;
}

.Card-Visual-DashBoard > .Card-Graficos-DashBoard > .DistribuicaoCategorias {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 40%;
}

.Card-Visual-DashBoard > .Card-Graficos-DashBoard > .EvolucaoFinanceira > .Titulo,
.Card-Visual-DashBoard > .Card-Graficos-DashBoard > .DistribuicaoCategorias > .Titulo {
  display: flex;
  justify-content: center;
  font-size: 1.0rem;
  color: var(--color-primary);
  margin-top: 8px;
}
