.Card-DashBoard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-Central-DashBoard {
  display: flex;
  width: 70vw;
  height: 80vh;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 1rem;
}

.Card-Filtros-DashBoard {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
}

.Card-Filtros-DashBoard>.Titulo{
}

.Card-Filtros-DashBoard >
.Filtros-DashBoard {
  display: flex;
  justify-content: flex-end;
}

.Card-Visual-DashBoard {
  flex: 1;
  min-height: 300px;
  display: flex;
}
